.vscode/
build/
build-msvc/
build-gcc/
build-clang/
build-bench/
build-clang-tests/
build-tests/
models/
/test.cpp
/test.exe
note/
designs/
/todo.md
/CMakePresets.json
/vcpkg-configuration.json
/vcpkg.json
.claude/
.codebuddy/
/CLAUDE.md